/* AUTHOR: RISHIRAJ BOSE */
* {
  margin: 0;
  padding: 0;
}

/*body {
  min-width: 100px;
}*/

div {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  padding: 200px 0px;
}

h1 {
  /* This is the Fedora logo text */
  color: white;
  /* This is the new Fedora Blue */
  background-color: #51A2DA;
}

p {
  padding: 50px 0;
  font-size: 3em;
}

